/* ============================================
   ESTILOS DE ADMINISTRAR PRODUCTOS
   ============================================ */


/* Muestra la pestaña del input que está marcado */
#pestaña-listaProducto:checked ~ .centro-pagina-gestion #contenido-listaProducto,
#pestaña-agregarProducto:checked ~ .centro-pagina-gestion #contenido-agregarProducto,
#pestaña-editarProducto:checked ~ .centro-pagina-gestion #contenido-editarProducto {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Resalta visualmente el label de la pestaña activa. */
#pestaña-listaProducto:checked ~ .centro-pagina-gestion .pestañas label[for="pestaña-listaProducto"],
#pestaña-agregarProducto:checked ~ .centro-pagina-gestion .pestañas label[for="pestaña-agregarProducto"],
#pestaña-editarProducto:checked ~ .centro-pagina-gestion .pestañas label[for="pestaña-editarProducto"]{
    color: var(--texto-principal);
    border-bottom: 2px solid var(--color-rol);
    background-color: var(--color-rol);
}
