/* ============================================
   ESTILOS ADMINISTRAR USUARIOS
   ============================================ */

/* Muestra la pestaña del input que está marcado */
#pestaña-listaUsuario:checked ~ .centro-pagina-gestion #contenido-listaUsuario,
#pestaña-agregarUsuario:checked ~ .centro-pagina-gestion #contenido-agregarUsuario,
#pestaña-editarUsuario:checked ~ .centro-pagina-gestion #contenido-editarUsuario {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Resalta visualmente el label de la pestaña activa. */
#pestaña-listaUsuario:checked ~ .centro-pagina-gestion .pestañas label[for="pestaña-listaUsuario"],
#pestaña-agregarUsuario:checked ~ .centro-pagina-gestion .pestañas label[for="pestaña-agregarUsuario"],
#pestaña-editarUsuario:checked ~ .centro-pagina-gestion .pestañas label[for="pestaña-editarUsuario"]{
    color: var(--texto-principal);
    border-bottom: 2px solid var(--color-rol);
    background-color: var(--color-rol);
}

/* ROLES */
.rol {
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 800;
}

.admin {
    background: var(--admin-placa);
    color: var(--admin-color);
}

.usuario {
    background: var(--usuario-placa);
    color: var(--usuario-color);
}

/* ESTADOS */
.estado {
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 800;
}

.activo {
    background: var(--activo-placa);
    color: var(--activo-color);
}

.bloqueado{
    background: var(--bloqueado-placa);
    color: var(--bloqueado-color);
}

.suspendido {
    background: var(--suspendido-placa);
    color: var(--suspendido-color);
}

#btn-editar{
    padding: 4px 20px;
    
}

#btn-eliminar{
    padding: 4px 12px;
}